html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
a {
  text-decoration: none;
}
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 7px 12px;
  background-color: cadetblue;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  margin-bottom: 15px;
}

.main__wrapper {
  max-width: 800px;
  margin: 0 auto;
}
.main__contents {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.main__content {
  position: relative;
}
.content-imgs {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
}
.main__title {
  font-size: 24px;
  padding-bottom: 15px;
}
.main__desc {
  max-width: 130px;
  margin-bottom: 15px;
}
.main__content {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 2px 3px;
  position: relative;
}
.main__desc-full {
  font-size: 14px;
}
.main__button {
  position: absolute;
  top: 78%;
  right: 3%;
  padding: 2px 17px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border: 0;
  border-radius: 4px;
  transition: 0.2s all;
}
.main__button:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  color: green;
}
.main__price {
  position: absolute;
  top: 63%;
  right: 6%;
}
del {
  color: red;
}
/* ---- basket ---- */
.header__basket{
  position: relative;
  cursor: pointer;
}

.basket__main {
  position: absolute;
  top: 5;
  right: 0;
  margin-right: 20px;
  height: 10%;
  width: 20%;
}
.basket {
  border-radius: 5px;
  box-shadow: 2px 5px 16px 0px #0b33, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.basket__element {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 5px;
}
.basket__img {
  height: 80%;
  width: 80%;
  margin-top: 2px;
  margin-left: 3px;
}
.basket__title {
  text-align: center;
}
.basket__desc {
  font-size: 7px;
}
.basket__bay {
  margin-left: 20px;
}
.baslet__price {
  position: relative;
}
.prive_buy {
  position: absolute;
  bottom: 0;
  right: 3;
  margin-bottom: 10px;
}
.basket__count{
  margin-right: 10px;
}